# python related
*.egg-info/
*.pyc
.DS_Store
__pycache__/
scripts/plot/pdfs/
videos/
visualizations/
MinkowskiEngine/
video_dataset/
expert_ckpt/
demonstrations/
pytorch3d/
vrl3data/
trajectory_images/
dexdeform_flip_traj.pkl
dexdeform_folding_traj.pkl
trajectory_video.gif
trajectory_video.mp4
*.npy
isaacgym/
*.html
nohup.out
data/
_C.cpython-38-x86_64-linux-gnu.so
_C.cpython-39-x86_64-linux-gnu.so
*_temp.xml
real_robot_data/
output.gif
output.mp4
output.png

test.gif
test.mp4
test_depth.mp4
test.png

debug.png
debug.mp4
debug.gif

third_party/BEE/metaworld_expert_ckpt.zip
dexdeform_demonstrations.zip
personal_TASK.md
easytrain.sh
nohup.out
output/

debug/real_world_demo
debug/videos
experiment/overfit_rlbench/rlbench_slide_block_to_color_target_overfit-overfit_rlbench-0425_seed0/